@mixin FlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexContainerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}