 <form [formGroup]="jobappform" (ngSubmit)="onSubmit()">
    <div class="modal-header">
    <h4 class="modal-title">New application</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()">
    </button>
    </div>

    <div class="modal-body">
    <!-- <form> -->
        <div class="modal-body-name-and-position d-flex w-100 gap-3">
            <div class="modal-body-name mb-3 w-100">
                <label class="modal-body-name form-label">Company name</label>
                <input class="form-control" type="text" formControlName="company_name"/>
            </div>

            <div class="mb-3 w-100">
                <label class="form-label">Position</label>
                <input class="form-control" type="text" formControlName="position"/>
            </div>
        </div>

        <div class="modal-body-date-and-location d-flex w-100 gap-3">
            <div class="d-flex flex-column mb-3 w-100">
                <label class="form-label">Date sent</label>
                <input type="date" class="form-control" formControlName="date_sent">
            </div>

            <div class="mb-3 w-100">
                <label class="form-label">Location</label>
                <input class="form-control" type="text" formControlName="location"/>
            </div>
        </div> 

        <div class="modal-body-salary-range d-flex w-100 gap-3">
            <div class="d-flex flex-column mb-3 w-100">
                <label class="form-label">Minimum salary (Optional)</label>
                <input class="form-control" type="number" min="0"
                inputmode="numeric" 
                (keydown)="blockNonNumbers($event)"
                formControlName="min_salary">
            </div>

            <!-- (keydown)="($event.key === '-' || $event.key === 'e') && $event.preventDefault()" -->
            <div class="mb-3 w-100">
                <label class="form-label">Maximum salary (Optional)</label>
                <input class="form-control" type="number" min="0"
                inputmode="numeric" 
                (keydown)="blockNonNumbers($event)"
                formControlName="max_salary"/>
            </div>
        </div>
    
        <div class="mb-3">
            <label class="form-label">Status</label>
            <select name="status" class="form-control" formControlName="status">
                <option value="Pending">Pending</option>
                <option value="Rejected">Rejected</option>
                <option value="Accepted">Accepted</option>
            </select>
        </div>
    <!-- </form> -->
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
        <button class="btn btn-primary" (click)="activeModal.close()" type="submit">
            {{btnText}}
        </button>
    </div>
</form>