@use "../../styles/mixins.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding-left: 50px;
    padding-right: 85px;

    img {
        user-select: none;
    }

    .header-logo {
        width: 200px;
        height: 75px;
        object-fit: cover;
        cursor: pointer;
    }

    .header-login {
        @include FlexContainer;
        gap: 20px;
        cursor: pointer;
        height: 75px;

        img {
            width: 30px;
            height: 30px;
        }

        p {
            color: #448DCC;
            margin-bottom: 0;
        }
    }

    .header-searchbar {
        width: clamp(20rem, 100%, 50rem);
    }

    .header-profile {
        mat-icon {
            cursor: pointer;
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}