.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 75px;
    padding-left: 50px;
    padding-right: 85px;

    img {
        width: 200px;
        height: 75px;
        object-fit: cover;
        cursor: pointer;
    }
}