<section class="dashboard-stats">
    <div class="dashboard-stats-card card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex flex-column justify-content-center align-items-start gap-4">
            <h5 class="card-title">Total Applications</h5>
            <h1 class="card-subtitle mb-2 text-body-secondary">{{ (stats$ | async)?.total }}</h1>
        </div>
    </div>
    <div class="dashboard-stats-card card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex flex-column justify-content-center align-items-start gap-4">
            <h5 class="card-title">Accepted Applications</h5>
            <h1 class="card-subtitle mb-2 text-body-secondary">{{ (stats$ | async)?.accepted }}</h1>
        </div>
    </div>
    <div class="dashboard-stats-card card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex flex-column justify-content-center align-items-start gap-4">
            <h5 class="card-title">Rejected Applications</h5>
            <h1 class="card-subtitle mb-2 text-body-secondary">{{ (stats$ | async)?.rejected }}</h1>
        </div>
    </div>
    <div class="dashboard-stats-card card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex flex-column justify-content-center align-items-start gap-4">
            <h5 class="card-title">Pending Applications</h5>
            <h1 class="card-subtitle mb-2 text-body-secondary">{{ (stats$ | async)?.pending }}</h1>
        </div>
    </div>
</section>