input {
    background-color: #4e95ff;
    border: none;
    position: relative;
}

input::placeholder {
    color: white;
}

.search-results {
    width: clamp(20rem, 100%, 50rem);
    max-height: 200px;
    padding: 10px;
    overflow-y: auto;
    position: absolute;
    border: 1px solid;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .search-result {
        width: 100%;
        transition: 0.1s ease-in-out;
    }

    .search-result:hover {
        background-color: rgb(199, 199, 199);
    }
}