@use '../../styles/mixins.scss' as *;

.register-container {
    display: flex;
    width: 100%;
    height: 100vh;   
    border: 1px solid;

    // margin-bottom: 300px;
    // gap: 20px;

    .auth-background-img-container {
        width: 100%;
        // max-width: 1200px;
        height: 100%;
        // min-height: 700px;
        // margin-right: 100px;
        // border: 1px solid;
        background-image:
         url('/assets/auth-background-img3Flexible.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        // background-position: center;
        // background-size: 100%;
        // filter: brightness(75%);
        @include FlexContainerColumn;
        color: white;
        
        p {
            width: 450px;
            font-size: 16px;
            overflow-wrap: break-word;
            margin-bottom: 0;
        }

        .auth-background-img-container-text {
            // @include FlexContainerColumn;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .auth-background-img-containter-suggestions {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .auth-background-img-container-suggestion {
                    @include FlexContainer;
                    gap: 10px;

                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .register {
        // border: 1px solid;
        // width: 36rem;
        width: 50%;
        max-width: 40rem;
        height: 100%;
        @include FlexContainer;
        padding: 30px;
        background-color: white;
        // border-radius: 1rem;
        border: none;
        // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08), 0 4px 10px rgba(0, 0, 0, 0.05);
        // margin-right: 100px;


        .register-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            img {
                user-select: none;
            }

            .register-content-return-container {
                display: flex;
                align-items: center;
                gap: 0.313rem;
                cursor: pointer;

                h6 {
                    margin-bottom: 0;
                }
            }

            .register-content-heading {
                @include FlexContainerColumn;
            }

            .logo {
                width: 4rem;
                height: 4rem;
            }

            .register-content-btns {
                width: 100%;
                @include FlexContainerColumn;
                gap: 0.625rem;

                button {
                    width: 100%;
                    padding: 0.625rem;
                    border-radius: 0.3rem;
                    border: none;
                    @include FlexContainer;
                    gap: 0.625rem;
                    transition: 0.15s ease-in-out;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                .register-content-btns-google {
                    background-color: white;
                    border: 1px solid rgb(204, 204, 204);
                }

                .register-content-btns-google:hover {
                    background-color: rgb(231, 231, 231);
                }

                .register-content-btns-facebook {
                    background-color: #1877F2;
                    color: white;
                    gap: 0.3rem;
                }

                .register-content-btns-facebook:hover {
                    background-color: #125fc4;
                }
            }

            .register-content-signin-redirect {
                text-align: center;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

