@use '../../styles/mixins.scss' as *;

.banner {
    width: 100%; // Change to 100% in the future maybe
    height: 100vh;
    background-image: url('/assets/jtbanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include FlexContainer;

    .banner-content {
        @include FlexContainerColumn;
        gap: 10px;
        color: white;
        // word-wrap: break-word;
        text-align: center;

        h1 {
            font-size: clamp(2.5rem, 6vw, 5rem);
        }

        p {
            font-size: clamp(1.25rem, 3vw, 2rem);
        }

        .banner-content-button {
            width: 200px;
            height: 53px;
            border: none;
            background-color: rgb(198 63 95);
            color: white;
            font-weight: bold;
            transition: 0.15s ease-in-out;
        }
        
        .banner-content-button:hover {
            background-color: rgb(164, 53, 79);
        }
    }
}