<header class="header">
    <img class="header-logo" alt="Header logo" src="/assets/headerLogoWhite.png">
    <div class="header-searchbar">
        <app-search-bar></app-search-bar>
    </div>
    <div class="header-profile d-flex justify-content-center align-items-center gap-3">
        <!-- <mat-icon>notifications</mat-icon> -->
        <img [src]="userData.profilePicture ? userData.profilePicture : '/assets/profIconGray.png'" alt="Profile image">
        <button class="logout-btn" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
                <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 
                23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 
                102-102H360v-80h327L585-622l55-58 200 200-200 200Z" fill="currentColor"/>
            </svg>
            Logout
        </button>
    </div>
</header>   