@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
    // overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: stretch;
    // background-color: gray;
    // width: auto;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-btn-style {
    border: none;
    background-color: rgb(198 63 95);
    color: white;
    font-weight: bold;
    transition: 0.15s ease-in-out;
}