@use "../../styles/mixins.scss" as *;

.dashboard {
    width: 63rem;
    min-height: 37.5rem;
    // border: 1px solid;

    .dashboard-applications {
        table {
            tr {
                text-align: center;
                vertical-align: middle;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                td {
                    height: 50px;
                }

                .dashboard-apptable-td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    // vertical-align: middle;
                    mat-icon {
                        cursor: pointer;
                    }

                    input {
                        height: 25px;
                        width: 140px;
                    }
                }
            }

            tbody {
                .custom-table-btn {
                    border: none;
                    color: white;
                    background-color: rgb(243, 58, 58);
                    width: 4rem;
                    height: 1.5rem;
                    border-radius: 4px;
                    transition: 0.15s ease-in-out;
                }

                .custom-table-btn:hover {
                    background-color: rgb(208, 47, 47);

                }
            }
        }

        .dashboard-addapplication-btn-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;
            align-items: center;

            button {
                width: 2.5rem;
                height: 2.5rem;
                border: none;
                background-color: green;
                border-radius: 50%;
                color: white;
            }
        }
    }
}