@use "../../styles/mixins.scss" as *;

.dashboard {
    width: 63rem;
    min-height: 37.5rem;
    // border: 1px solid;

    .dashboard-stats {
        width: 100%;
        height: auto;
        // @include FlexContainer;
        display: flex;
        // justify-content: space-evenly;
        // align-items: center;
        gap: 1rem;

        .dashboard-stats-card {
            width: 15rem;
            min-height: 9.375rem;

            h5 {
                color: #0d6efd;
            }

            .card-body {
                width: 100%;
            }
        }
    }

    .dashboard-applications {
        table {
            tr {
                text-align: center;
            }

            tbody {
                .custom-table-btn {
                    border: none;
                    color: white;
                    background-color: rgb(243, 58, 58);
                    width: 4rem;
                    height: 1.5rem;
                    border-radius: 4px;
                    transition: 0.15s ease-in-out;
                }

                .custom-table-btn:hover {
                    background-color: rgb(208, 47, 47);

                }
            }
        }

        .dashboard-addapplication-btn-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;
            align-items: center;

            button {
                width: 2.5rem;
                height: 2.5rem;
                border: none;
                background-color: green;
                border-radius: 50%;
                color: white;
            }
        }
    }
}